extends ../layouts/layout

block content
  #myCarousel.carousel.slide(data-ride='carousel')
   // Indicators
   ol.carousel-indicators
     li.active(data-target='#myCarousel', data-slide-to='0')
     li(data-target='#myCarousel', data-slide-to='1')
     li(data-target='#myCarousel', data-slide-to='2')
   .carousel-inner(role='listbox')
     .item.active
       img.first-slide(src='/images/FS.jpg', alt='First slide')
       .container
         .carousel-caption
           h1 你好，律师小姐
           p
             |苏正轶叹了口气，语气缓下来：“潇潇，你始终不懂，理想和现实是不同的，这个社会的规则就是如此，多少年轻律师都有相同的经历，为什么人家可以忍，你就不能忍一时不快呢......
           p
             a.btn.btn-lg.btn-primary(href='#', role='button') 注册读者
     .item
       img.second-slide(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Second slide')
       .container
         .carousel-caption
           h1 Another example headline.
           p
             | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
           p
             a.btn.btn-lg.btn-primary(href='#', role='button') Learn more
     .item
       img.third-slide(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Third slide')
       .container
         .carousel-caption
           h1 One more for good measure.
           p
             | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
           p
             a.btn.btn-lg.btn-primary(href='#', role='button') Browse gallery
   a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
     span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
     span.sr-only Previous
   a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
     span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
     span.sr-only Next
  .container
    // Example row of columns
    .row
      .col-md-4
        h2 古装
        p
          | 斑竹王妃 皇上，皇后嫁到 冷王的小蛮妃 厨娘太子妃 却性情耿直，始终坚持对法律的信念，不肯向任何非正义势力低头。最终一纸状书将拖欠自s
        p
          a.btn.btn-default(href='#', role='button') 在线阅读 »
      .col-md-4
        h2 现代
        p
          | 你好，律师小姐 黑白之恋 肥女和美女 前妻不好惹 卧底干探 贤妻要革命 傲骨贤妻不下堂 鱼美人 明星总裁 夜莺千金 侦探先生的法医小姐
        p
          a.btn.btn-default(href='#', role='button') 在线阅读 »
      .col-md-4
        h2 novels
        p
          | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper.
        p
          a.btn.btn-default(href='#', role='button') View details »   
